@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');

body {
	font-family: 'Zilla Slab', sans-serif;
	text-align: center;
}

h2 {
	font-weight: 400;
}

label {
  padding-right: 1rem;
}

#treemap-header {
	margin-top: 6px;
}
